.App {
  text-align: center;
}


.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.photo-grid {
  display: grid;
  grid-template-columns: 1, 1, 1;
  grid-template-rows: 200px, 200px, 200px;
  grid-gap: 20px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;

}



